<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 <h1>Team Name: <%=@teamData["name"] %> </h1>
 <h2>Coach: <%=@teamData["coach"]%>
 <h2>Point Guard: <%=@teamData["pg"]%>
 <h2>Shooting Guard: <%=@teamData["sg"]%>
 <h2>Small Forward: <%=@teamData["sf"]%>
 <h2>Power Forward: <%=@teamData["pf"]%>
 <h2>Center: <%=@teamData["c"]%>



 </body>
</html>


